@import '../style/var.scss';

.ca2-tag {
  display: inline-flex;
  align-items: center;
  padding: $tag-padding;
  color: $tag-text-color;
  font-size: $tag-font-size;
  line-height: normal;
  border-radius: $tag-border-radius;

  &::after {
    border-color: currentColor;
    border-radius: $tag-border-radius * 2;
  }

  &--default {
    color: $tag-default-text-color;
    background-color: $tag-default-color;

    &.ca2-tag--plain {
      color: $tag-default-text-color;
    }
  }

  &--danger {
    color: $tag-danger-text-color;
    background-color: $tag-danger-color;

    &.ca2-tag--plain {
      color: $tag-danger-text-color;
    }
  }

  &--primary {
    color: $tag-primary-text-color;
    background-color: $tag-primary-color;

    &.ca2-tag--plain {
      color: $tag-primary-text-color;
    }
  }

  &--success {
    color: $tag-success-text-color;
    background-color: $tag-success-color;

    &.ca2-tag--plain {
      color: $tag-success-text-color;
    }
  }

  &--warning {
    color: $tag-warning-text-color;
    background-color: $tag-warning-color;

    &.ca2-tag--plain {
      color: $tag-warning-text-color;
    }
  }

  &--plain {
    background-color: $tag-plain-background-color;
  }

  &--mark {
    padding-right: 0.7em;

    &,
    &::after {
      border-radius: 0 $tag-round-border-radius $tag-round-border-radius 0;
    }
  }

  &--round {
    &,
    &::after {
      border-radius: $tag-round-border-radius;
    }
  }

  &--medium {
    font-size: $tag-medium-font-size;
  }

  &--large {
    font-size: $tag-large-font-size;
  }

  &__close {
    min-width: 1em;
    margin-left: 2px;
    cursor: pointer;
  }
}
