@zv-doc-black: #323233;

@zv-doc-blue: #1989fa;

@zv-doc-purple: #8080ff;

@zv-doc-fuchsia: #a7419e;

@zv-doc-green: #4fc08d;

@zv-doc-text-color: #34495e;

@zv-doc-text-light-blue: rgba(69, 90, 100, 0.6);

@zv-doc-background-color: #f7f8fa;

@zv-doc-grey: #999;

@zv-doc-dark-grey: #666;

@zv-doc-light-grey: #ccc;

@zv-doc-border-color: #f1f4f8;

@zv-doc-code-color: #58727e;

@zv-doc-code-background-color: #f1f4f8;

@zv-doc-code-font-family: 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;

@zv-doc-padding: 30px;

@zv-doc-row-max-width: 1680px;

@zv-doc-nav-width: 220px;

@zv-doc-border-radius: 12px;

// header
@zv-doc-header-top-height: 60px;

@zv-doc-header-bottom-height: 50px;

// simulator
@zv-doc-simulator-width: 360px;

@zv-doc-simulator-small-width: 320px;

@zv-doc-simulator-height: 620px;

@zv-doc-simulator-small-height: 560px;
