@import '../style/var.scss';

.ca2-panel {
  background: $panel-background-color;

  &__header-value {
    color: $panel-header-value-color;
  }

  &__header-title {
    flex: 4;
  }

  &__footer {
    padding: $panel-footer-padding;
  }
}
