/* stylelint-disable selector-pseudo-element-colon-notation */
@font-face {
  font-weight: normal;
  font-family: 'vant-icon';
  font-style: normal;
  font-display: auto;
  src: url('https://img.yzcdn.cn/vant/vant-icon-db1de1.woff2') format('woff2'),
    url('https://img.yzcdn.cn/vant/vant-icon-db1de1.woff') format('woff'),
    url('https://img.yzcdn.cn/vant/vant-icon-db1de1.ttf') format('truetype');
}

.zv-con {
  position: relative;
  display: inline-block;
  font: normal normal normal 14px/1 "vant-icon";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  &::before {
    display: inline-block;
  }
}

.zv-con-add-o::before {
  content: "\F000";
}

.zv-con-add-square::before {
  content: "\F001";
}

.zv-con-add::before {
  content: "\F002";
}

.zv-con-after-sale::before {
  content: "\F003";
}

.zv-con-aim::before {
  content: "\F004";
}

.zv-con-alipay::before {
  content: "\F005";
}

.zv-con-apps-o::before {
  content: "\F006";
}

.zv-con-arrow-down::before {
  content: "\F007";
}

.zv-con-arrow-left::before {
  content: "\F008";
}

.zv-con-arrow-up::before {
  content: "\F009";
}

.zv-con-arrow::before {
  content: "\F00A";
}

.zv-con-ascending::before {
  content: "\F00B";
}

.zv-con-audio::before {
  content: "\F00C";
}

.zv-con-award-o::before {
  content: "\F00D";
}

.zv-con-award::before {
  content: "\F00E";
}

.zv-con-bag-o::before {
  content: "\F00F";
}

.zv-con-bag::before {
  content: "\F010";
}

.zv-con-balance-list-o::before {
  content: "\F011";
}

.zv-con-balance-list::before {
  content: "\F012";
}

.zv-con-balance-o::before {
  content: "\F013";
}

.zv-con-balance-pay::before {
  content: "\F014";
}

.zv-con-bar-chart-o::before {
  content: "\F015";
}

.zv-con-bars::before {
  content: "\F016";
}

.zv-con-bell::before {
  content: "\F017";
}

.zv-con-bill-o::before {
  content: "\F018";
}

.zv-con-bill::before {
  content: "\F019";
}

.zv-con-birthday-cake-o::before {
  content: "\F01A";
}

.zv-con-bookmark-o::before {
  content: "\F01B";
}

.zv-con-bookmark::before {
  content: "\F01C";
}

.zv-con-browsing-history-o::before {
  content: "\F01D";
}

.zv-con-browsing-history::before {
  content: "\F01E";
}

.zv-con-brush-o::before {
  content: "\F01F";
}

.zv-con-bulb-o::before {
  content: "\F020";
}

.zv-con-bullhorn-o::before {
  content: "\F021";
}

.zv-con-calender-o::before {
  content: "\F022";
}

.zv-con-card::before {
  content: "\F023";
}

.zv-con-cart-circle-o::before {
  content: "\F024";
}

.zv-con-cart-circle::before {
  content: "\F025";
}

.zv-con-cart-o::before {
  content: "\F026";
}

.zv-con-cart::before {
  content: "\F027";
}

.zv-con-cash-back-record::before {
  content: "\F028";
}

.zv-con-cash-on-deliver::before {
  content: "\F029";
}

.zv-con-cashier-o::before {
  content: "\F02A";
}

.zv-con-certificate::before {
  content: "\F02B";
}

.zv-con-chart-trending-o::before {
  content: "\F02C";
}

.zv-con-chat-o::before {
  content: "\F02D";
}

.zv-con-chat::before {
  content: "\F02E";
}

.zv-con-checked::before {
  content: "\F02F";
}

.zv-con-circle::before {
  content: "\F030";
}

.zv-con-clear::before {
  content: "\F031";
}

.zv-con-clock-o::before {
  content: "\F032";
}

.zv-con-clock::before {
  content: "\F033";
}

.zv-con-close::before {
  content: "\F034";
}

.zv-con-closed-eye::before {
  content: "\F035";
}

.zv-con-cluster-o::before {
  content: "\F036";
}

.zv-con-cluster::before {
  content: "\F037";
}

.zv-con-column::before {
  content: "\F038";
}

.zv-con-comment-circle-o::before {
  content: "\F039";
}

.zv-con-comment-circle::before {
  content: "\F03A";
}

.zv-con-comment-o::before {
  content: "\F03B";
}

.zv-con-comment::before {
  content: "\F03C";
}

.zv-con-completed::before {
  content: "\F03D";
}

.zv-con-contact::before {
  content: "\F03E";
}

.zv-con-coupon-o::before {
  content: "\F03F";
}

.zv-con-coupon::before {
  content: "\F040";
}

.zv-con-credit-pay::before {
  content: "\F041";
}

.zv-con-cross::before {
  content: "\F042";
}

.zv-con-debit-pay::before {
  content: "\F043";
}

.zv-con-delete::before {
  content: "\F044";
}

.zv-con-descending::before {
  content: "\F045";
}

.zv-con-description::before {
  content: "\F046";
}

.zv-con-desktop-o::before {
  content: "\F047";
}

.zv-con-diamond-o::before {
  content: "\F048";
}

.zv-con-diamond::before {
  content: "\F049";
}

.zv-con-discount::before {
  content: "\F04A";
}

.zv-con-down::before {
  content: "\F04B";
}

.zv-con-ecard-pay::before {
  content: "\F04C";
}

.zv-con-edit::before {
  content: "\F04D";
}

.zv-con-ellipsis::before {
  content: "\F04E";
}

.zv-con-empty::before {
  content: "\F04F";
}

.zv-con-envelop-o::before {
  content: "\F050";
}

.zv-con-exchange::before {
  content: "\F051";
}

.zv-con-expand-o::before {
  content: "\F052";
}

.zv-con-expand::before {
  content: "\F053";
}

.zv-con-eye-o::before {
  content: "\F054";
}

.zv-con-eye::before {
  content: "\F055";
}

.zv-con-fail::before {
  content: "\F056";
}

.zv-con-failure::before {
  content: "\F057";
}

.zv-con-filter-o::before {
  content: "\F058";
}

.zv-con-fire-o::before {
  content: "\F059";
}

.zv-con-fire::before {
  content: "\F05A";
}

.zv-con-flag-o::before {
  content: "\F05B";
}

.zv-con-flower-o::before {
  content: "\F05C";
}

.zv-con-free-postage::before {
  content: "\F05D";
}

.zv-con-friends-o::before {
  content: "\F05E";
}

.zv-con-friends::before {
  content: "\F05F";
}

.zv-con-gem-o::before {
  content: "\F060";
}

.zv-con-gem::before {
  content: "\F061";
}

.zv-con-gift-card-o::before {
  content: "\F062";
}

.zv-con-gift-card::before {
  content: "\F063";
}

.zv-con-gift-o::before {
  content: "\F064";
}

.zv-con-gift::before {
  content: "\F065";
}

.zv-con-gold-coin-o::before {
  content: "\F066";
}

.zv-con-gold-coin::before {
  content: "\F067";
}

.zv-con-good-job-o::before {
  content: "\F068";
}

.zv-con-good-job::before {
  content: "\F069";
}

.zv-con-goods-collect-o::before {
  content: "\F06A";
}

.zv-con-goods-collect::before {
  content: "\F06B";
}

.zv-con-graphic::before {
  content: "\F06C";
}

.zv-con-home-o::before {
  content: "\F06D";
}

.zv-con-hot-o::before {
  content: "\F06E";
}

.zv-con-hot-sale-o::before {
  content: "\F06F";
}

.zv-con-hot-sale::before {
  content: "\F070";
}

.zv-con-hot::before {
  content: "\F071";
}

.zv-con-hotel-o::before {
  content: "\F072";
}

.zv-con-idcard::before {
  content: "\F073";
}

.zv-con-info-o::before {
  content: "\F074";
}

.zv-con-info::before {
  content: "\F075";
}

.zv-con-invition::before {
  content: "\F076";
}

.zv-con-label-o::before {
  content: "\F077";
}

.zv-con-label::before {
  content: "\F078";
}

.zv-con-like-o::before {
  content: "\F079";
}

.zv-con-like::before {
  content: "\F07A";
}

.zv-con-live::before {
  content: "\F07B";
}

.zv-con-location-o::before {
  content: "\F07C";
}

.zv-con-location::before {
  content: "\F07D";
}

.zv-con-lock::before {
  content: "\F07E";
}

.zv-con-logistics::before {
  content: "\F07F";
}

.zv-con-manager-o::before {
  content: "\F080";
}

.zv-con-manager::before {
  content: "\F081";
}

.zv-con-map-marked::before {
  content: "\F082";
}

.zv-con-medal-o::before {
  content: "\F083";
}

.zv-con-medal::before {
  content: "\F084";
}

.zv-con-more-o::before {
  content: "\F085";
}

.zv-con-more::before {
  content: "\F086";
}

.zv-con-music-o::before {
  content: "\F087";
}

.zv-con-music::before {
  content: "\F088";
}

.zv-con-new-arrival-o::before {
  content: "\F089";
}

.zv-con-new-arrival::before {
  content: "\F08A";
}

.zv-con-new-o::before {
  content: "\F08B";
}

.zv-con-new::before {
  content: "\F08C";
}

.zv-con-newspaper-o::before {
  content: "\F08D";
}

.zv-con-notes-o::before {
  content: "\F08E";
}

.zv-con-orders-o::before {
  content: "\F08F";
}

.zv-con-other-pay::before {
  content: "\F090";
}

.zv-con-paid::before {
  content: "\F091";
}

.zv-con-passed::before {
  content: "\F092";
}

.zv-con-pause-circle-o::before {
  content: "\F093";
}

.zv-con-pause-circle::before {
  content: "\F094";
}

.zv-con-pause::before {
  content: "\F095";
}

.zv-con-peer-pay::before {
  content: "\F096";
}

.zv-con-pending-payment::before {
  content: "\F097";
}

.zv-con-phone-circle-o::before {
  content: "\F098";
}

.zv-con-phone-circle::before {
  content: "\F099";
}

.zv-con-phone-o::before {
  content: "\F09A";
}

.zv-con-phone::before {
  content: "\F09B";
}

.zv-con-photo-o::before {
  content: "\F09C";
}

.zv-con-photo::before {
  content: "\F09D";
}

.zv-con-photograph::before {
  content: "\F09E";
}

.zv-con-play-circle-o::before {
  content: "\F09F";
}

.zv-con-play-circle::before {
  content: "\F0A0";
}

.zv-con-play::before {
  content: "\F0A1";
}

.zv-con-plus::before {
  content: "\F0A2";
}

.zv-con-point-gift-o::before {
  content: "\F0A3";
}

.zv-con-point-gift::before {
  content: "\F0A4";
}

.zv-con-points::before {
  content: "\F0A5";
}

.zv-con-printer::before {
  content: "\F0A6";
}

.zv-con-qr-invalid::before {
  content: "\F0A7";
}

.zv-con-qr::before {
  content: "\F0A8";
}

.zv-con-question-o::before {
  content: "\F0A9";
}

.zv-con-question::before {
  content: "\F0AA";
}

.zv-con-records::before {
  content: "\F0AB";
}

.zv-con-refund-o::before {
  content: "\F0AC";
}

.zv-con-replay::before {
  content: "\F0AD";
}

.zv-con-scan::before {
  content: "\F0AE";
}

.zv-con-search::before {
  content: "\F0AF";
}

.zv-con-send-gift-o::before {
  content: "\F0B0";
}

.zv-con-send-gift::before {
  content: "\F0B1";
}

.zv-con-service-o::before {
  content: "\F0B2";
}

.zv-con-service::before {
  content: "\F0B3";
}

.zv-con-setting-o::before {
  content: "\F0B4";
}

.zv-con-setting::before {
  content: "\F0B5";
}

.zv-con-share::before {
  content: "\F0B6";
}

.zv-con-shop-collect-o::before {
  content: "\F0B7";
}

.zv-con-shop-collect::before {
  content: "\F0B8";
}

.zv-con-shop-o::before {
  content: "\F0B9";
}

.zv-con-shop::before {
  content: "\F0BA";
}

.zv-con-shopping-cart-o::before {
  content: "\F0BB";
}

.zv-con-shopping-cart::before {
  content: "\F0BC";
}

.zv-con-shrink::before {
  content: "\F0BD";
}

.zv-con-sign::before {
  content: "\F0BE";
}

.zv-con-smile-comment-o::before {
  content: "\F0BF";
}

.zv-con-smile-comment::before {
  content: "\F0C0";
}

.zv-con-smile-o::before {
  content: "\F0C1";
}

.zv-con-smile::before {
  content: "\F0C2";
}

.zv-con-star-o::before {
  content: "\F0C3";
}

.zv-con-star::before {
  content: "\F0C4";
}

.zv-con-stop-circle-o::before {
  content: "\F0C5";
}

.zv-con-stop-circle::before {
  content: "\F0C6";
}

.zv-con-stop::before {
  content: "\F0C7";
}

.zv-con-success::before {
  content: "\F0C8";
}

.zv-con-thumb-circle-o::before {
  content: "\F0C9";
}

.zv-con-thumb-circle::before {
  content: "\F0CA";
}

.zv-con-todo-list-o::before {
  content: "\F0CB";
}

.zv-con-todo-list::before {
  content: "\F0CC";
}

.zv-con-tosend::before {
  content: "\F0CD";
}

.zv-con-tv-o::before {
  content: "\F0CE";
}

.zv-con-umbrella-circle::before {
  content: "\F0CF";
}

.zv-con-underway-o::before {
  content: "\F0D0";
}

.zv-con-underway::before {
  content: "\F0D1";
}

.zv-con-upgrade::before {
  content: "\F0D2";
}

.zv-con-user-circle-o::before {
  content: "\F0D3";
}

.zv-con-user-o::before {
  content: "\F0D4";
}

.zv-con-video-o::before {
  content: "\F0D5";
}

.zv-con-video::before {
  content: "\F0D6";
}

.zv-con-vip-card-o::before {
  content: "\F0D7";
}

.zv-con-vip-card::before {
  content: "\F0D8";
}

.zv-con-volume-o::before {
  content: "\F0D9";
}

.zv-con-volume::before {
  content: "\F0DA";
}

.zv-con-wap-home-o::before {
  content: "\F0DB";
}

.zv-con-wap-home::before {
  content: "\F0DC";
}

.zv-con-wap-nav::before {
  content: "\F0DD";
}

.zv-con-warn-o::before {
  content: "\F0DE";
}

.zv-con-warning-o::before {
  content: "\F0DF";
}

.zv-con-warning::before {
  content: "\F0E0";
}

.zv-con-weapp-nav::before {
  content: "\F0E1";
}

.zv-con-wechat::before {
  content: "\F0E2";
}

.zv-con-youzan-shield::before {
  content: "\F0E3";
}
